.container1{
    background-color: #9C89B8;
    border-radius: 6px;
    padding: 1px;
    margin-left: 450px;
    margin-right: 450px;
    
}

.container1 h2{
    text-align: center;
}

.container1 #coinSelect{
    margin-left: 128px;
    padding: 6px;
}

#toss {
    padding: 6px;
}

.cont2 {
    background-color: #F0A6CA;
    border-radius: 6px;
    margin-top: 3px;
    margin-left: 450px;
    margin-right: 450px;
}

#resetBtn{
    margin-left: 180px;
    margin-top: 10px;
    padding: 6px;
}

.gamestatus{
    margin-left: 280px;
    margin-top: 60px;
}

.gamestatus .health-status{
    background-color: #EFC3E6;
    border-radius: 6px;
    padding: 40px;
    margin-right: 690px;
}

.gamestatus .health-status h3{
    background-color: #F0E6EF;
    border-radius: 6px;
    padding-right: 220px;
    padding-top: 12px;
    padding-left: 4px;
    padding-bottom: 10px;
    margin-right: 590px;
}

.gamestatus .health-status p{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding-right: 220px;
    padding-top: 12px;
    padding-left: 4px;
    padding-bottom: 10px;
    margin-right: 590px;
}

.gamestatus .actions #actionMessage{
    margin-top: 120px;
    margin-left: 1px;
}

.gamestatus .actions{
    margin-top: 120px;
    margin-left: 310px;
}

.gamestatus .actions #attackBtn{
    padding: 8px; 
}

.gamestatus .actions #defendBtn{
    padding: 8px; 
}